# Pliki i katalogi generowane przez Qt Creator/CMake
/build/
*.user
CMakeLists.txt.user

# Pliki generowane przez kompilator
*.o
*.a
*.exe
*.dll

# Katalog z logami
/logs/

# Pliki systemowe
.DS_Store
Thumbs.db